.about 
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* background: var(--color-primary); */
}

.about .content-proffy
{
  width: 50%;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .contentForm
{
  width: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentForm form{
  margin: 20px 0;
  padding: 100px 115px;
}

.contentForm h2 {
  margin-bottom: 30px;
}

.contentForm form .input-form input{
  width: 300px;
  padding: 16px;
  font-size: 16px;
  display: block;
  margin-top: 3px;
  border: none;
  outline: 0;
  border-radius: 8px;
  /* font-family: Archivo; */
}

.input-text{
  background: #FAFAFC;
  
}

.input-submit{
  background: #DCDCE6;
  font-weight: 600;
  font-family: Archivo;
}

.forgot-password{
  text-decoration: none;
  color: #9C98A6;
}

.warning{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.label-container{
 cursor: pointer;
 position: relative;
 display: block;
}

